.header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 12vh;
    background-color: aqua; 
}
.nav-bar{
    position: relative;
    height: 20px;
    top: -10px;
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
}
.btn-nav{
    width: 10%;
    padding-top: 20px;
    display: inline-block;
    border: none;
    background-color: aqua;
    color: black;
}
#blog{
    padding: 10px
}
.card-blog{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.card{
    width: 60%;
    height: 30vh;
    background-color: rgb(135, 106, 160);
    border-radius: 10px;
    padding: 20px;
    color: white;
}
#p{
    margin-top: 10px;
}