.container{
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
}
.input{
    height: 25px;
    width: 50%;
}
.login-div{
    width: 50%;
    height: 60%;
    margin-top: 10vh;
    background-color: aquamarine;
    border-radius: 10px;
    padding: 20px;
}
.label{
    font-weight: 200;
    font-size: 1.1rem;
    margin-bottom: 10px;
    margin-top: 10px;
}
.check{
    margin-top: 10px;
    height: 20px;
    width: 20px;
}
#rem{
    font-size: 1.1rem;
    margin-left: 10px;
}
.btn{
    height: 30px;
    width: 51%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    background-color: tomato;
}
.btn:active{
    background-color: azure;
    color: black;
}
* {
    margin: 0;
    padding: 0;
  }
#forgot{
    border: none;
    background-color: aquamarine;
}
.signup{
    margin-left: 10px;
    margin-top: 10px;
}
#signup{
    border: none;
    background-color: aquamarine;
    color: blue;
}